@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* This css rule will ensure that no device specific appearances are used. */
    * {
        @apply appearance-none
    }

    h1 {
        @apply font-medium text-3xl
    }

    h1 {
        @apply font-medium text-xl
    }

    h3 {
        @apply font-medium pl-2
    }
}